@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/worksans-extralight-webfont.woff2') format('woff2'),
    url('../fonts/worksans-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/worksans-light-webfont.woff2') format('woff2'),
    url('../fonts/worksans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/worksans-thin-webfont.woff2') format('woff2'),
    url('../fonts/worksans-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.45;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: $primary-color;
}

a {
  color: initial;
  text-decoration: none;
}

p {
  max-width: 564px;
  padding-bottom: 1rem;
}

em {
  font-weight: 600;
}

h2 {
  font-size: calc(0.7 * 4.236em);
}

h3 {
  font-size: calc(0.7 * 2.618em);
}

h4 {
  font-size: calc(0.7 * 1.618em);
}

@media screen and (min-width: $breakpoint-sm) {
  h2 {
    font-size: 4.236em;
  }

  h3 {
    font-size: 2.618em;
  }

  h4 {
    font-size: 1.618em;
  }
}
@media screen and (min-width: $breakpoint-md) {
  body {
    font-weight: 300;
  }
  em {
    font-weight: 400;
  }
  p {
    font-size: 2rem;
    max-width: 1128px;
    padding-bottom: 2rem;
  }
}
