$primary-color: black;
$secondary-color: white;

// Green-blue
// $gradient-color-1: rgb(45, 253, 118);
// $gradient-color-2: rgb(34, 193, 195);
// $gradient-color-3: rgb(201, 0, 201);

// Purple-orange
// $gradient-color-1: #d342ff;
// $gradient-color-2: #e94057;
// $gradient-color-3: #f27121;

// Gold
$gradient-color-1: rgba(143, 107, 42, 1);
$gradient-color-2: rgba(254, 224, 141, 1);
$gradient-color-3: rgba(213, 160, 30, 1);

$breakpoint-sm: 380px;
$breakpoint-md: 620px;
$breakpoint-lg: 840px;
$breakpoint-xl: 1190px;

$transition-duration: 0.4s;

@mixin section {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  &:after {
    display: block;
    content: '';
    height: 5rem;
    width: 100%;
  }
}

@mixin light-section {
  @include section;
  background-color: $secondary-color;
  &:after {
    background-color: $primary-color;
  }
}

@mixin dark-section {
  @include section;
  background-color: $primary-color;
  color: $secondary-color;

  &:after {
    background-color: $secondary-color;
  }
}

@mixin gradient-background {
  background: $gradient-color-1;
  background: linear-gradient(
    45deg,
    $gradient-color-1 0%,
    $gradient-color-2 50%,
    $gradient-color-3 100%
  );
  background-size: 400%;
  animation: background 20s ease-in infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  66% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
