.header {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 4rem;

  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background-color: rgba($primary-color, 0.8);

  &:before {
    content: '';
    z-index: -1;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../img/bg_craft_4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.header__title {
  font-size: 12vw;
  color: $secondary-color;

  @include gradient-background;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__subtitle {
  color: $secondary-color;
  font-size: 1rem;
}
.header__nav {
  color: $secondary-color;
}
.nav__link {
  position: relative;
  color: $secondary-color;
  font-size: 1.5rem;
  display: inline-block;
  padding-bottom: 2px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    transition: transform 0.4s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $secondary-color;
    transform: translateX(-100%);
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
  &:hover:before,
  &:focus:before {
    transform: translateX(0);
  }
}
@media screen and (min-width: $breakpoint-xl) {
  .header {
    justify-content: center;
  }
  .header__title {
    font-size: 10vw;
    padding-right: 8rem;
  }
}
@media screen and (min-width: $breakpoint-sm) {
  .header__title {
    font-weight: 200;
  }
  .header__subtitle {
    font-size: 2rem;
    font-weight: 100;
  }
}
@media screen and (min-width: $breakpoint-md) {
  .nav__link {
    font-size: 2rem;
  }
}
@media screen and (min-width: $breakpoint-lg) {
  .header__title {
    font-weight: 100;
  }
}
