.projects {
  background-color: $primary-color;
  color: $secondary-color;

  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &:after {
    display: block;
    content: '';
    height: 5rem;
    width: 100%;
    background-color: $secondary-color;
  }
}
