.projects {
  @include dark-section;
}

.project-list {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.project-list__item {
  position: relative;
  color: $primary-color;
  display: flex;
  flex-flow: column;
  flex: 0 1 100%;
  justify-content: flex-start;
  padding: 2rem;
  margin: 1rem 0;
  background-color: $secondary-color;

  &:before {
    content: '';
    position: absolute;
    @include gradient-background;
    transition: $transition-duration ease;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    transform-origin: bottom left;
  }
}

.project-list__item--in-view {
  &:before {
    top: 0.5rem;
    bottom: -0.5rem;
    right: -0.5rem;
    left: 0.5rem;
  }

  &:hover {
    &:before {
      transform: rotate(1deg);
    }
  }
}

.project-item__heading {
  margin-top: 1rem;
  order: 1;
  font-size: 1rem;

  flex: 1 0 auto;
}
.project-item__links {
  flex: 0 0 auto;
  order: 2;
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.project-item__link {
  text-align: center;
  margin-top: 0.5rem;
}

.project-item__image-wrapper {
  flex: 0 1 auto;
  order: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 2rem -1rem $primary-color;
}

.project-item__image {
  max-width: 100%;
}

@media screen and (min-width: $breakpoint-md) {
  .project-list__item {
    flex-basis: calc(50% - 2rem);
  }
  .project-item__heading {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .project-item__heading {
    font-size: 1.5rem;
  }
  .project-item__links {
    margin-top: 1.5rem;
  }
  .project-item__link {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .project-list__item {
    flex-basis: calc(25% - 2rem);
    padding: 2rem;
  }
  .project-item__links {
    margin-top: 2rem;
  }
  .project-item__link {
    font-size: 1.5rem;
  }
}
